* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: lightpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column
}
#items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}
.item {
    background-color: lightslategray;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 2rem;
    font-size: 15px
}


/**/

#input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4.2rem 0
}
#in {
    padding: 8px 2px;
    margin-right: 5px;
    outline: 0
}
.btn {
    padding: 10px;
    background-color: purple;
    color: whitesmoke;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 18px
}
