body { margin: 0 }

#cont {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column
}

#cont div:first-of-type { background-color: green; flex-basis: 25%; order: -2 }
#cont div:nth-of-type(2) { background-color: yellow; flex-basis: 50%; }
#cont div:last-child { background-color: purple; flex-basis: 25%; order: -1 }

#cont div { width: 100% }
