h2 { letter-spacing: 6px }
.card {
    width: 18rem;
    background: #33393F
}

#contact-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0
}
#contact-list li {
    display: inline-block;
    font-size: 40px;
    margin: 0 10px
}

#contact-list li a { color: #F9A825 }
