* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box
}

body { background: #ff355e; font-size: 14px; font-family: Verdana, Geneva, Tahoma, sans-serif }

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

#form {
    background: #ff005123;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    flex-direction: column
}

input {
    background: transparent;
    border-bottom: 2px solid #ff004f;
    color: #080808;
    padding: 5px 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    color: rgba(245, 245, 245, .92)
}

button {
    margin-left: .5rem;
    padding: 7px 10px;
    background: #ff004f;
    border: 2px solid rgba(255, 255, 255, .4);
    transition: .3s;
    color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3)
}
button:hover {
    border-color: #fff;
    transform: scale(110%)
}

